Checks:          'clang-diagnostic-*,clang-analyzer-*,google-*,cppcoreguidelines-*,modernize-*,-modernize-use-trailing-return-type'
WarningsAsErrors: 'clang-analyzer-*,google-*,cppcoreguidelines-*,'
HeaderFilterRegex: ''
AnalyzeTemporaryDtors: false
FormatStyle:     google